div{
    padding: 10px;
    margin: 10px;
    background-color: rgb(214, 214, 227);
    min-width:200px;
    min-height: 100px;
 
}

.highlighted-div {
    padding: 15px;
    margin: 15px;
    background-color: rgb(255, 230, 204);
    min-width: 250px;
    min-height: 120px;
    border: 2px solid orange;
}
